:root{
    --dull-white: white;
    --box-shadow: 0px 0px 10px #c1c1c1;
    --box-shadow-black: 0px 0px 20px #00000085;
    --black: #030303;
    --black-light: #0c0c0c;
    --black-light-2: #111111;
}


.d-flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.space-between{
    justify-content: space-between !important;
}